/* Write your CSS code here */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}

@media screen and (min-width: 768px) {
  .home-container {
    margin-top: 10%;
  }
}
.home-img {
  width: 200px;
}

.home-name {
  font-size: 40px;
  font-weight: bold;
  color: #551e53;
}
