/* Write your CSS code here */
.logo-img-name {
  display: flex;
  align-items: center;
}

.wave-img {
  width: 30px;
  margin-right: 10px;
}

.wave-name {
  font-size: 20px;
  font-weight: bold;
  color: #551e53;
}

.nav-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
  color: #551e53;
  margin-left: 10px;
  text-decoration: none;
}

.nav-item:link {
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .wave-img {
    width: 50px;
    margin-right: 15px;
  }
  .wave-name {
    font-size: 30px;
  }

  .nav-item {
    font-size: 30px;
    margin-right: 20px;
  }
}
